.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.box{
  background-image: url('./apple.jpg');
  background-size: cover;
  color: white;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box button{
  width: 80px;
  margin: 0 auto;
}
.row div{
  height: 350px;
}
.row div img{
  height: 200px;
  object-fit: contain;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainTitle{
  text-shadow: 2px 2px 2px rgb(26, 26, 26);
}